@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overscroll-behavior: none;
}

body {
  @apply bg-gray-300 text-gray-800 dark:bg-gray-800 dark:text-white;
  user-select: none;
  -webkit-user-select: none;
}
